@import "../../shared/styles/variables";

.chat-container {
  max-width: $secondary-width;
  max-height: 100%;
  margin: auto;
}

.chat-segment {
  max-height: 100%;
  overflow: hidden;
}

.chat-content {
  max-height: 60vh;
  overflow: auto;
}

.chat-message {
  display: flex;
  margin: 1rem;

  &.user {
    justify-content: flex-start;
    margin-right: 3rem;
  }

  &.author {
    justify-content: flex-end;
    margin-left: 3rem;
  }
}

.chat-input {
  margin-top: 3rem;
}

.message-content {
  overflow-wrap: anywhere;
  position: relative;
}

.time {
  position: relative;
  top: -8px;
  right: -8px;
  float: right;
  font-size: 0.8rem;
  color: gray;
  padding-left: 1rem;
}

.divider-medium {
  &.ui.divider {
    margin: 0.5rem;
  }
}

.icon-holder {
  margin-right: 0.5rem;
  max-width: 1rem;
  position: relative;
  top: 2px;
  right: 0;
}

.author-name {
  color: #4183c4;
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  .chat-segment {

    &.ui.padded.segment {
      padding: 0;
    }
  }
}
