@import "../../shared/styles/variables";

.recipe {

  &-content {
    max-width: $secondary-width;
    margin: auto;
  }

  &-img {
    border-radius: 5px;
    box-shadow:
            0 0 0 1px rgba(34,36,38,.22) inset,
            0 2px 4px 0 rgba(34,36,38,.12),
            0 2px 10px 0 rgba(34,36,38,.15);
  }

  &-btns-holder {
    &.ui.row {
      padding-right: 1rem;
      justify-content: flex-end;
    }
  }

  &-item {
    width: 31% !important;
  }
}

.photo-btn {
  margin: 20px 0;
}

.add-btn {

  &.wide.field {
    margin-top: 12px;
  }

  & button {
    margin-top: 12px;
  }

  &.ui.large.icon.right.labeled.button {
    border: 1px solid rgba(0,0,0,.05);
  }
}

.measure-select > div {

  &.ui.selection.dropdown {
    min-width: 7em;
    padding: 1em;
  }
}

.directions {
  margin-top: 4rem;
  margin-bottom: 3rem;
  white-space: pre-wrap;

  &-more {
    position: absolute;
    padding: 14px 14px 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    height: 8rem;
    background: linear-gradient(0, rgba(255,255,255,1) 40%, rgba(0,0,0,0) 100%);
  }

  &-content {
    overflow: hidden;
    position: relative;
    max-height: $recipe-img-side;
    white-space: pre-wrap;
  }

  &-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 14px;
    z-index: 3;
  }

  &-holder {
    height: calc(#{$recipe-img-side} + 14px * 2);
    overflow: hidden;
    text-overflow: ellipsis;

    &.row {
      padding: 0;
    }
  }
}

.error-text {
  margin-top: .7em;
  color: $error-text;
  font-weight: 700;
  font-size: .85714286rem;
}

.label-text {
  margin-top: .7em;
  font-weight: 700;
  font-size: .85714286rem;
}

.header-holder {
  width: 100%;
}

.placeholder-recipe {
  &.ui.placeholder {
    position: absolute;
    margin: 0 1rem 2rem;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.ingredient-name {
  overflow-wrap: break-word;
  max-width: 200px;
}

@media only screen and (max-width: 550px) {
  .recipe {

    &-item {
      width: 100%!important;
    }

    &-directions {
      display: none !important;
    }
  }
}
