@import "../../styles/variables";

.custom-header {
  background-color: $dark-blue;
}

.header-container {
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;

  & > div {
    display: flex;
  }
}

.header-image {
  object-fit: scale-down;
}

.ui.dropdown .menu>* {
  white-space: pre-line;
}

.header-text-primary {
  margin-left: 1em;

  & > div {
    margin: 0 1rem;
  }
}

.header-text-secondary {
  margin-left: 1em;
}

@media only screen and (max-width: 790px) {
  .header-image {
    margin-right: 0;
  }

  .header-text-secondary {
    display: none;
  }
}

@media only screen and (max-width: 550px) {

  .header-text-primary {
    display: none;

    & > div {
      display: none!important;
    }
  }
}
