@import '../../styles/variables';

.category-img-holder {
  display: flex;
  margin: auto;

  & img {
    width: $square-side;
    height: $square-side;
    object-fit: cover;
  }
}

.category-card-holder {
  width: $square-side;
  margin: 10px;
}
