@import "../../../../shared/styles/variables";

.heading {
  &.ui.header.primary-text {
    margin: 4rem auto 3rem;
  }
}

.pagination-holder {
  margin-bottom: 3rem;
}

.recipe-img-holder {
  & img {
    height: $recipe-img-side;
    width: $recipe-img-side;
    object-fit: cover;
  }
  &.ui.grid>.row>[class*="six wide"].column {
    width: $recipe-img-side;
  }
}
