.auth-wrapper{
  height: 100%;
  position: relative;
}

.auth-holder {
  max-width: 450px;
  position: relative;
  top: 100px;
}

.sing-in-google {
  display: flex;
  justify-content: space-between;
}

.text-holder {
  display: flex;
  align-items: center;
}

@media only screen and (max-height: 750px) {
  .auth-holder {
    top: 20px;
  }
}
