@import "variables";

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.wrapper {
    max-width: $primary-width;
    margin: 7em auto 4em;
    position: relative;
    flex: 1 0 auto;
}

.custom-footer {
    bottom: 0;
    margin: 5em 0 0;
    padding: 5em 0;
    background-color: $dark-blue;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $light-beige;
}

.primary-button {
    background-color: $dark-olive;
    opacity: 0.9;
    color: $white;
}

.danger-button {
    background-color: $error-background;
    border: 1px solid $error-text;
    color: $error-text;
}

.primary-text {
    color: $dark-olive;
    text-align: center;
}

.input-holder {
    & div {
        margin-top: 12px;
    }
}

.select-holder {
    & > div,i {
        margin-top: 12px;
        font-size: .92857143em;
        padding: .92857143em 1em !important;
    }
    & i:before {
        padding: 1em 0;
    }
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fixed-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;

    &-holder {
        display: none;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 990px) {
    .ui.container {
        width: 990px;
    }
}

@media only screen and (max-width: 989px) and (min-width: 890px) {
    .ui.container {
        width: 890px;
    }
}

@media only screen and (max-width: 889px) and (min-width: 790px) {
    .ui.container {
        width: 790px;
    }
}
