// palette
$dark-blue: #0D1618 !important;
$dark-olive: #305E29 !important;
$light-beige: rgba(237, 239, 219, 0.15);
$error-text: #a91b29 !important;
$error-background: #fde8e6 !important;
$white: #fff !important;

//size
$primary-width: 1200px;
$secondary-width: 800px;
$square-side: 157px;
$recipe-img-side: 200px;
