@import "../../shared/styles/variables";

.category-content {
  max-width: $secondary-width;
  margin: 50px auto;
}

.create-category-container {
  padding: 2rem;
}

.preview-holder {
  & > div {
    display: flex;
    margin: auto;
  }
}

.empty-holder {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
